<div class="jumbotron">
	<input type="text" class="form-control" name="criterioDeBusca" ng-model="criterioDeBusca" placeholder="O que você procura?"/>
	<table class="table" ng-show="contatos.length > 0">
		<tr>
			<th></th>
			<th>Serial</th>
			<th><a href="" ng-click="ordenarPor('nome')">Nome</a></th>
			<th><a href="" ng-click="ordenarPor('telefone')">Telefone</a></th>
			<th>Operadora</th>
			<th>Data</th>
		</tr>
		<tr ng-class="{selecionado: contato.selecionado}" ng-repeat="contato in contatos | filter: {nome: criterioDeBusca} | orderBy:criterioDeOrdenacao:direcaoDaOrdenacao">
			<td><input type="checkbox" name="checkbox" ng-model="contato.selecionado"></td>
			<td>{{contato.serial}}</td>
			<td><a href="#!/detalhesContato/{{contato.id}}">{{contato.nome | name | ellipsis: 14}}</a></td>
			<td>{{contato.telefone}}</td>
			<td>{{contato.operadora.nome | lowercase}}</td>
			<td>{{contato.data | date:"dd/MM/yyyy"}}</td>
		</tr>
	</table>
	<hr/>
	<a class="btn btn-primary btn-block" href="#!/novoContato">Novo Contato</a>
	<button class="btn btn-danger btn-block" ng-click="apagarContatos(contatos)" ng-if="isContatoSelecionado(contatos)">Apagar Contatos</button>
</div>